<h1 id="tableLabel">All Requests</h1>

<p>List of all Requests you have registered with</p>

<p *ngIf="!responseElements"><em>Loading...</em></p>

<table *ngIf="responseElements">
  <thead>
    <tr>
      <th></th>
      <th>Account Name</th>
      <th>Request Name</th>
      <th>Request URL</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let request of responseElements">
      <td></td>
      <td>{{ request.accountName }}</td>
      <td>{{ request.requestName }}</td>
      <td>{{ request.requestURL }} </td>           

      <td><button (click)="requestPopulateInput(request)">Edit</button></td>
      <td><button (click)="delete(request.requestId)">Delete</button></td>
      <td><button (click)="testRequest(request)">Test Request</button></td>
    </tr>
    
    <td></td>    
    <td><input type="text" id="accountId" [(ngModel)]="this.inputInstance.accountName" ></td>
    <td><input type="text" id="requestName" [(ngModel)]="this.inputInstance.requestName" ></td>
    <td><input type="text" id="requestURL" [(ngModel)]="this.inputInstance.requestURL" ></td>
    <th><button (click)="submit(this.inputInstance)">Submit</button></th>
  </tbody>
</table>
<br>

<form *ngIf = "editMode" [formGroup]="metadataForm" (ngSubmit)="requstMetadataSubmit()">
  <select formControlName="metadataName">
    <option *ngFor="let metadata of requestMetadataValues"
            [value]="metadata">
      {{RequestMetadataMapping[metadata]}}
    </option>
  </select>
  <input type="text" formControlName="metadataValue" class="form-control">
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<br>

<form [formGroup]="this.requestTokens.getTokensForm()" (ngSubmit)="requestSubmit()">
  <table class="table table-bordered" formArrayName="tokens">
    <tr>
      <th colspan="2">Test Request:</th>
    </tr>
    <tr *ngFor="let quantity of requestTokens.getTokensAsFromArray().controls; let i=index" [formGroupName]="i">
      <td>
        <!-- This line gets the token name from the object ex. SYMBOL DATE APIKEY (Could be imporoved) -->
        {{(this.requestTokens.getTokensAsFromArray().at(i).value.tokenName)}}
          <input type="text" formControlName="token" class="form-control">
      </td>
    </tr>
  </table>
  <button type="submit" class="btn btn-success">Submit</button>
</form>


