<h1 id="tableLabel">All Accounts</h1>

<p>List of all API Accounts you have registered with</p>

<p *ngIf="!responseElements"><em>Loading...</em></p>

<table *ngIf="responseElements">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Documentaion</th>
      <th>ApiKey</th>
      <th>Date Format</th>
      <th>Delmiter</th>      
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let account of responseElements">
      <td></td>
      <td>{{ account.accountName }}</td>
      <td><a [attr.href]="account.documenationLink"> {{ account.documenationLink }}</a></td>
      <td>{{ account.apiKey }}</td>
      <td>{{ account.dateFormat }} </td>      
      <td>{{ account.delimiter }} </td>      
      <td><button (click)="accountPopulateInput(account)">Edit</button></td>
      <td><button (click)="delete(account.accountName)">Delete</button></td>
    </tr>
    
    <td></td>    
    <td><input type="text" id="accountName" [(ngModel)]="this.instance.accountName" ></td>
    <td><input type="text" id="inputLink" [(ngModel)]="this.instance.documenationLink" ></td>
    <td><input type="text" id="inputApikey" [(ngModel)]="this.instance.apiKey" ></td>
    <td><input type="text" id="dateFormat" [(ngModel)]="this.instance.dateFormat" ></td>
    <td><input type="text" id="delimiter" [(ngModel)]="this.instance.delimiter" ></td>
  
    <th><button (click)="submit(this.instance)">Submit</button></th>

  </tbody>
</table>

